<!DOCTYPE HTML>
<html>
<head>
    <script src="/static/app.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form>

        <!-- ===== MAIN MENU ===== -->
        <button class="menu" id="show-musclegroups" type="button">View Workouts</button>

        <!-- ===== MUSCLE GROUPS ===== -->
        <div class="section hidden" id="musclegroups-list">
            <button id="btn-back" type="button">Back</button>
            <button id="btn-chest" type="button">Chest</button>
            <button id="btn-legs" type="button">Legs</button>
            <button id="btn-arms" type="button">Arms</button>
            <button id="btn-shoulders" type="button">Shoulders</button>

            <button id="return-from-MuscleGroups" type="button">Return</button>
        </div>

        <!-- ===== EXERCISE LIST ===== -->
        <div class="section hidden" id="exercises-section">
            <ul id="exercise-list"></ul>
            <button id="return-from-exercises" type="button">Return</button>
            <button id = "add" type = "button"> Add New</button>
        </div>

        <!-- ===== LOG WORKOUT ===== -->
        <div class="section hidden" id="log-section">
            <label for="exercise">Exercise</label>
            <input type="text" id="exercise_name">

            <label for="weight">Weight</label>
            <input type="number" id="weight">

            <label for="reps">Reps</label>
            <input type="number" id="reps">

            <p id="log-message"></p>
            <button id="log-submit" >Submit</button>
            <button id ="return-from-log" type ="button">return</button>
        </div>

        <!-- =====  EXERCISE DETAILS ====-->
        <div class ="section hidden" id ="exercise-details">
            <h2 id = "exercise-name"></h2>
            <p> Current Record </p>
            <p id = "current-weight"></p>
            <p id = "current-reps"></p>
            <button id = "update-button" type="button">Update</button>
            <button id = "history" type = "button">History</button>
            <button id = "return-from-exercise-details" type = "button">Return</button>

        </div>

        <!-- ======  UPDATE EXERCISE  =======-->
        <div class ="section hidden" id = "update-exercise">
            <label for ="new-weight">New Weight: </label>
            <input type = "number" id ="new-weight">

            <label for ="new-reps"> New reps: </label>
            <input type = "number" id = "new-reps">

            <button id = "confirm-update" type="button">Confirm</button>
            <p id = "update-message"></p>
        </div>


    </form>
</body>
</html>